<!-- <div v-if="!this.bannerClosed"> -->
<div>
    <div class="banner">
        <div class="main-container">
        <div class="row-container">
            <span>🔨</span>
            <p>
            <span class="font-bold">Build</span>:
            <a
                href="{{DRONE_BUILD_LINK}}"
                target="_blank"
                rel="noopener noreferrer"
            >
                #{{ DRONE_BUILD_NUMBER }}
            </a>
            <a
                href="{{DRONE_COMMIT_LINK}}"
                target="_blank"
                rel="noopener noreferrer"
            >
                ({{ DRONE_COMMIT_SHA.slice[0:7] }})
            </a>
            </p>
        </div>
        <div class="row-container">
            <span>🚧</span>
            <p> <span class="font-bold"> Environment: </span> {{ TARGET_ENV }} </p>
            <button class="bannerBtn" v-on:click="closeBanner">
            &#215;
            </button>
        </div>
        </div>
    </div>
    <div class="hidden-whitespace"></div>
</div>