<h2 class="fw-semibold"><span class="text-blue fw-bold">How</span> does SafePass function?</h2>
<div class="card c1">
    <div class="card-body">
        <p class="card-text">Secrets are shared using a <span class="fw-bolder">unique</span> short-lived link.</p>
    </div>
</div>
<div class="card c2">
    <div class="card-body">
        <p class="card-text"><span class="fw-bolder">No one</span> can access the secret except the person with the unique link.</p>
    </div>
</div>
<div class="card c3">
    <div class="card-body">
        <p class="card-text">Secrets can only be revealed <span class="fw-bolder">once</span>.</p>
    </div>
</div>
<div class="card c4">
    <div class="card-body">
        <p class="card-text">Expired secrets are <span class="fw-bolder">deleted</span>, even if not revealed.</p>
    </div>
</div>
